@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="~/Contents/Site.css" /> 
</head>
<body>
    <hgroup class="error">
        <h1>Error:</h1>
        <h2>Happened some internal server error, please do attempt later. Thanks for your patient.</h2>
    </hgroup>
</body>
</html>

